---
import Section from "@/components/Section.astro";
import { certificates } from "@cv";

const shortMonths = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
---

<Section title="Certificates">
  <ul>
    {
      certificates.map(({ name, date, issuer, url }) => {
        const year = `${shortMonths[new Date(date).getMonth()]} ${new Date(date).getFullYear()}`;

        return (
          <li>
            <article>
              <header>
                <div>
                  <h4>
                    <a href={url} title={`View ${name} certificate`} target="_blank">
                      {name}
                    </a>
                  </h4>
                  <time>{year}</time>
                </div>
              </header>
              <footer>
                <p>{issuer}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  article h4 {
    color: #222;
    font-weight: 500;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article header {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }

  article header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  article time {
    color: #555;
    font-size: 0.85rem;
  }
</style>
