---
import Section from "@/components/Section.astro";
import { work } from "@cv";

const shortMonths = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
---

<Section title="Work Experience">
  <ul>
    {
      work.map(({ name, startDate, endDate, position, location, summary, highlights, url }) => {
        const startYear = `${shortMonths[new Date(startDate).getMonth()]} ${new Date(startDate).getFullYear()}`;
        const endYear = endDate != null ? `${shortMonths[new Date(endDate).getMonth()]} ${new Date(endDate).getFullYear()}` : "Present";
        const yearRange = `${startYear} - ${endYear}`;

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>
                    {
                      url ? (
                        <a href={url} target="_blank" title={`Go to ${name}`}>
                          {name}
                        </a>
                      ) : <span>{name}</span>
                    }
                  </h3>
                  <time>{yearRange}</time>
                </div>
                <h4>{position}</h4>
                <h5>{location}</h5>
              </header>
              <footer>
                {summary.split('\n').map((line) => <p>- {line}</p>)}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4,
  article h5 {
    color: #222;
    font-weight: 400;
  }

  article header {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }

  article header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  article time {
    color: #555;
    font-size: 0.85rem;
  }

  article footer p {
    font-size: 0.75rem;
  }
</style>
